/* --------------------------- header general style------------------------ */
.my-header-general-container{
    background:url(../assets/images/Rectangle\ 3463216.png);
    background-size: cover;
    overflow: hidden;
    z-index: 3;
}
.my-header-general-container .navbar{
    z-index: 5;
}
@media (min-width:1670px) {
    .my-header-general-container{
        height: 1140px;
    }
}
.my-header-general{
    position: relative;
    padding: 200px 0 150px 0;
    color: white;
    z-index: 2;
}
.my-header-general>img{
    position: absolute;
    z-index: -1;
}
.my-header-general>img:nth-child(1){
    width: 10% !important;
    top: 38%;
}
.my-header-general>img:nth-child(2){
    width: 20% !important;
    top: 33%;
}
.my-header-general>img:nth-child(3){
    width: 27% !important;
    top: 27%;
    right: 0;
}
@media (max-width:1200px) {
    .my-header-general>img:nth-child(3){
        top: 50%;
    }
}
.my-header-general h1,.question-slider-top h1 ,.survey-that-drive-container h1,.make-decision-general-container h2,.elevate-your-insights-container h1{
    font-family: myFont;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 64px;
}
.my-header-general p{
    color: #D8DEE6;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}
.my-header-general span{
    background: linear-gradient(to right,var(--background-primary-gradient) 60%, var(--background-secondary-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.my-header-general img:nth-of-type(1){
    width: 9vw;
}
.my-header-general img:nth-of-type(2){
    width: 24vw;
    margin-top: 55px;
}
.header-general-img-rigth img:nth-of-type(1){
    width: 15vw;
}
.header-general-img-rigth img:nth-of-type(2){
    width: 22vw;
}
.my-header-general-rigth{
    padding-top: 50px;
    background: url(../assets/images/Create\ a\ survey.png) no-repeat top;
    background-size: 70% 80%;
}
/* --------------------------- End header general style------------------------ */

/* --------------------------- Question Slider style------------------------ */
.question-slider-container{
    overflow: hidden;
    color: var(--base-color);
  
}
.question-slider-top{
    padding: 50px 0px 30px 90px;
}
.question-slider-arrows>div{
    gap: 43px;
    margin-top: 6vh;
}
.question-slider-arrows img{
    border: 1px solid var(--base-color);
    border-radius: 50%;
    padding: 17px;
    cursor: pointer;
}
.arrows-opacity{
    opacity: 0.6;
    pointer-events: none;
}
.question-slider-slide{
    background:linear-gradient(to right,rgba(148, 243, 212, 0.158),rgba(206, 204, 204, 0.171));
    border-radius: 35px;
    width: 78%;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
}
.question-slider-slides{
    transition: 1s;
}
.question-slider-slide:first-of-type{
    margin-left: 95px;
}
.question-slider-slide-left{
    padding-left: 70px;
}
.question-slider-slide-left h1{
    font-family: myFont;
    margin: 15px 0 43px 0;
}
.question-slider-slide-left p{
    font-weight: 500;
    font-size: 13px;
}
.question-slider-slide-left img{
    width: 2.5vw;
}
.question-slider-slide-rigth img{
    width: 100%;
    margin-left: .9vw;
    margin-bottom: -4vh;
}
@media (max-width:992px) {
    .question-slider-slide-rigth img{
        margin-left: 10vw;
    }
}
/* --------------------------- End Question Slider style------------------------ */

/* --------------------------- Survey That Drive section style------------------------ */
.survey-that-drive-container{
    margin-top: 150px;
    color: var(--base-color);
}
.survey-that-drive-container>div{
    gap: 36px;
}
.survey-that-drive-container h1{
   padding-left: 6vw;
}
.survey-that-drive-item{
    border: 2px solid  #F4F4F4;
    border-radius: 20px;
    overflow: hidden;
}
.survey-that-drive-item h2{
    font-family: myFont;
    margin-bottom: 20px;
}
.survey-that-drive-item p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: .2vw;
    line-height: 25px;
}
.survey-that-drive-item-img{
    background-color: #f4f4f463;
    overflow: hidden;
    width: 130%;
    height: 280px;
    margin-left: -3vw;
    padding: 50px 0;
}
@media (max-width:1070px) {
    .survey-that-drive-item-img{
        height: 180px;
    }
}
@media (min-width:1500px) {
    .survey-that-drive-item-img{
        height: 340px;
    }
}
.survey-that-drive-item-img img{
    width: 81%;
    margin: 0 2.3vw;
}
.survey-that-drive-item-img2 img{
    width: 43%;
    transform: translate(9.3vw,-5vh);
}
.survey-that-drive-item-img3 img{
    width: 62%;
    transform: translate(4.7vw,-8.4vh);
}
.survey-that-drive-item-img4 img{
    width: 70%;
    transform: translate(2.5vw,-4vh);
}
/* --------------------------- End Survey That Drive section style------------------------ */

/* ---------------------------  Question that make Decision section style------------------------ */
.make-decision-general-container{
    margin-top: 120px;
    background:url(../assets/images/Rectangle\ background.png) no-repeat center;
    background-size: 100%;
    color: var(--base-color);
    padding: 170px 0 160px 0;
    overflow: hidden;
}

.make-decision-general-container img{
    width: 2.5vw;
}
.make-decision-general-container h2{
    padding: 30px 0px 4px 0px;
    font-weight: 900;
}
.make-decision-general-container-top{
    justify-content: end;
    width: 60%;
    gap: 21vw;
}
.make-decision-general-container-middle{
    align-items: flex-start;
    gap: 5vw;
}
.make-decision-general-container-middle img:nth-of-type(1){
    margin-top: -7vh;
    width: 20px;
}
.make-decision-general-container-middle img:nth-of-type(2){
    margin-top: -4vh;
}
.make-decision-general-container-middle p{
    font-size: 15px;
    padding-bottom: 38px;
}
.make-decision-general-container-bottom{
    width: 90%;
    margin: 0 auto;
}
.make-decision-general-container-bottom img{
    width: 3vw;
    height: 100%;
    margin-top: -3vh;
}
.make-decision-general-container-bottom-text div{
    background-color: white;
    border-radius: 15px;
    display: flex;
    gap: 7px;
    align-items: center;
    padding:3px 0 2px 0;
}
.make-decision-general-container-bottom-text h6{
  padding-right: 7px;
}
.make-decision-general-container-bottom-text .text-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00DDD0;
    margin: 0 0 .7vh .4vw;
}
.make-decision-general-container>img{
    width: 100%;
    margin-top: -4vh;
}
.make-decision-general-stars img{
    width: 24%;
    margin-right: -95%;
    margin-top: -18%;
}
@media (max-width:992px) {
    .make-decision-general-container{
        background-size: 430%;
        background-position:top;
        border-radius: 50% 50% 51% 49% / 25% 24% 7% 7%;
        
    }
    .make-decision-general-container>img{
        padding-top: 60px;
    }
}
/* --------------------------- End Question that make Decision section style------------------------ */

/* --------------------------- Elevate your insights section style------------------------ */
.elevate-your-insights-container{
  background: var(--base-color) url(../assets/images/Vector\ \(1\).png) no-repeat -10% 100%;
  background-size: 86%;
  margin-top: 90px;
  color: white;
  padding-top: 70px;
}
.elevate-your-insights-container p{
    color: #dfdcdc;
    padding-left:6%;
    font-size: 1.1rem;
}
@media (max-width:768px) {
    .elevate-your-insights-container p{
        padding-left:3%;
    }
}
.elevate-your-insights-bottom img:nth-child(1){
    margin-right: -6.6vw;
    z-index: 4;
}
/* --------------------------- End Elevate your insights  section style------------------------ */

/* --------------------------- Insightful Surveys Slide section style------------------------ */
.insightful-surveys-container{
    margin-top: 80px;
    overflow: hidden;
    color: var(--base-color);
}
@media (max-width:567px) {
    .insightful-surveys-container h1{
        font-size: 36px;
        margin-left: -60px;
    }
}
.insightful-surveys-slides{
    gap: 36px;
    transition: 1s;
}
.insightful-surveys-slide{
    border: 1px solid #EAE6F0;
    border-radius: 23px;
    padding: 46px 0 29px 39px;
}
.insightful-surveys-slide:first-of-type{
    margin-left: 80px;
}
.insightful-surveys-slide img{
    width: 2.7vw;
}
.insightful-surveys-slide h6{
    font-weight: 800;
    padding: 30px 0 10px 0;
}
.insightful-surveys-slide p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #363E49;
}
    
/* --------------------------- End Insightful Surveys Slide section style------------------------ */






