/* --------------------------- header general style------------------------ */
.my-header-general-container{
    background:url(../assets/images/Rectangle\ 3463216.png);
    background-size: cover;
    overflow: hidden;
}
.my-header-general{
    padding: 200px 0 150px 0;
    color: white;
}
.my-header-general h1,.question-slider-top h1 ,.survey-that-drive-container h1{
    font-family: myFont;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 64px;
}
.my-header-general p{
    color: #D8DEE6;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}
.my-header-general span{
    background: linear-gradient(to right,var(--background-primary-gradient) 60%, var(--background-secondary-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.my-header-general img:nth-of-type(1){
    width: 10vw;
}
.my-header-general img:nth-of-type(2){
    width: 24vw;
    margin-top: 55px;
}
.header-general-img-rigth img:nth-of-type(1){
    width: 15vw;
}
.header-general-img-rigth img:nth-of-type(2){
    width: 22vw;
}
.my-header-general-rigth{
    padding-top: 50px;
    background: url(../assets/images/Create\ a\ survey.png) no-repeat top;
    background-size: 60% 80%;
}
/* --------------------------- End header general style------------------------ */

/* --------------------------- Question Slider style------------------------ */
.question-slider-container{
    overflow: hidden;
    color: var(--base-color);
  
}
.question-slider-top{
    padding: 50px 0px 30px 90px;
}
.question-slider-arrows>div{
    gap: 43px;
    margin-top: 6vh;
}
.question-slider-arrows img{
    border: 1px solid var(--base-color);
    border-radius: 50%;
    padding: 17px;
    cursor: pointer;
}
.arrows-opacity{
    opacity: 0.6;
    pointer-events: none;
}
.question-slider-slide{
    background-color:gainsboro;
    border-radius: 35px;
    width: 78%;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
}
.question-slider-slides{
    transition: 1s;
}
.question-slider-slide:first-of-type{
    margin-left: 95px;
}
.question-slider-slide-left{
    padding-left: 70px;
}
.question-slider-slide-left h1{
    font-family: myFont;
    margin: 15px 0 43px 0;
}
.question-slider-slide-left p{
    font-weight: 500;
    font-size: 13px;
}
.question-slider-slide-left img{
    width: 2.5vw;
}
.question-slider-slide-rigth img{
    width: 100%;
    margin-left: .9vw;
    margin-bottom: -4vh;
}
@media (max-width:992px) {
    .question-slider-slide-rigth img{
        margin-left: 10vw;
    }
}
/* --------------------------- End Question Slider style------------------------ */

/* --------------------------- Survey That Drive section style------------------------ */
.survey-that-drive-container{
    margin-top: 150px;
    color: var(--base-color);
}
.survey-that-drive-container>div{
    gap: 36px;
}
.survey-that-drive-container h1{
   padding-left: 6vw;
}
.survey-that-drive-item{
    border: 2px solid  #F4F4F4;
    border-radius: 20px;
    overflow: hidden;
}
.survey-that-drive-item h2{
    font-family: myFont;
    margin-bottom: 20px;
}
.survey-that-drive-item p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: .2vw;
    line-height: 25px;
}
.survey-that-drive-item-img{
    background-color: #f4f4f463;
    overflow: hidden;
    width: 130%;
    height: 280px;
    margin-left: -3vw;
    padding: 50px 0;
}
@media (max-width:1070px) {
    .survey-that-drive-item-img{
        height: 180px;
    }
}
@media (min-width:1500px) {
    .survey-that-drive-item-img{
        height: 340px;
    }
}
.survey-that-drive-item-img img{
    width: 81%;
    margin: 0 2.3vw;
}
.survey-that-drive-item-img2 img{
    width: 43%;
    transform: translate(9.3vw,-5vh);
}
.survey-that-drive-item-img3 img{
    width: 62%;
    transform: translate(4.7vw,-8.4vh);
}
.survey-that-drive-item-img4 img{
    width: 70%;
    transform: translate(2.5vw,-4vh);
}
/* --------------------------- End Survey That Drive section style------------------------ */

