:root{
    --base-color:#11002A;
    --content-accent-ligthblue:#54E8E0;
    --background-primary-gradient: #00DDD0;
    --background-secondary-gradient: #6100DD;
    --dropdown-color:#F3EBFE;
    --content-accent-purble:#6200EE;
    --paragraph-color-grayish:#5B697C;
    --div-background-yellow:#FFC107;
    --div-background-ligthblue:#00C9BD;
    --icons-border-color:#F2F4F7;
    --charts-background:#FBFBFB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: myFont;
    src: url(../fonts/Yellix-ExtraBold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');