:root{
    --base-color:#11002A;
    --content-accent-ligthblue:#54E8E0;
    --background-primary-gradient: #00DDD0;
    --background-secondary-gradient: #6100DD;
    --dropdown-color:#F3EBFE;
    --content-accent-purble:#6200EE;
    --paragraph-color-grayish:#5B697C;
    --div-background-yellow:#FFC107;
    --div-background-ligthblue:#00C9BD;
    --icons-border-color:#F2F4F7;
}
*{
    box-sizing: border-box;
}
@font-face{
    font-family: myFont;
    src: url(../fonts/Yellix-ExtraBold.ttf);
}