/* -----------first section style------------ */
.nav-header{
    position: relative;
    background: rgb(97,0,221);
    background: linear-gradient(220deg, var(--background-secondary-gradient) 0%,
    var(--background-primary-gradient) 90%);
}
/* --------------------- Nav bar styles------------------- */
.navbar{
    position: absolute;
    width: 100%;
}
.navbar a{
    color: white !important;
}
.navbar a.active{
    color: var(--content-accent-ligthblue) !important;
}
.navbar img{
   width: 170px;
   margin-top: 5px;
}
@media(max-width:365px) {
    .navbar img{
        width:100px;
    }
}
@media(max-width:992px) {
    .navbar-collapse{
        background-color: rgba(31, 30, 30, 0.308);
        padding: 10px;
        border-radius: 15px;
        margin-top: 10px;
        }
}
.navbar-collapse ul li{
    padding: 0 3px;
}
.navbar-toggler{
    background-color: transparent !important;
}
.navbar button{
    color: var(--base-color);
    font-weight: 600;
    font-size: 16px;
    padding: 7px 16px;
    background-color: var(--content-accent-ligthblue);
    border-radius: 8px;
}
.navbar button:hover,.header-btn:hover{
    border: 1px solid white;
    background-color: transparent;
}
.navbar .dropdown-menu{
    background-color: var(--dropdown-color) !important; 
}
.navbar .dropdown-menu a{
    color: black !important;
    transition: 0.7s;
 }
 .features-dropdown{
     padding: 20px 23px 55px 10px !important;
     overflow: hidden;
     height: 180px;
     width: 400px;
 }
 .features-dropdown a{
     color: var(--base-color) !important;
     font-weight: 500;
 }
 .features-dropdown a:hover{
     background-color: inherit;
     color: var(--content-accent-purble) !important;
     font-weight: 700;
 }
 .default-features img{
   position: relative;
   top: 30px;
}
.default-features img,.general-features img{
    position: relative;
    right: -6px;
    width: 200px;
}

.questions-features img{
   transform: scale(1.6) rotate(-3deg);
   position: relative;
   top: 41px;
   right: -50px;
}
.survey-features img{
    transform: scale(1.2);
    position: relative;
    bottom: -23px;
    right: -20px;
}
.show-features-images{
    display: block;
}
.hide-features-images{
    display: none;
}
/* ---------------------End Nav bar styles------------------- */

/* ---------------------header styles------------------- */
.my-header{
    padding: 130px 0 70px 0;
}
.person-one-header img{
    width: 77px;
    height: 77px;
}
.ai-image img{
    width: 340px;
    animation: moveRotateAiImage 10s infinite;
}
@keyframes moveRotateAiImage {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-30px) rotate(3deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.my-header h1{
    font-family: myFont;
    font-size: 60px;
}
.my-header p{
    font-size: 20px;
}

@media (max-width:359px){
    .ai-image img{
        width: 200px;
    }
    .my-header h1{
        font-size: 15vw;
    }
    .my-header p{
        font-size: 15px;
    }
}
.my-header h1 span{
    color: var(--content-accent-ligthblue);
}
.my-header h1,.my-header p{
    color: white;
}
.people-two-header img{
    width: 108px;
    height: 108px;
}
.header-btn{
    width: 200px;
    height: 57px;
    background-color: white;
    color: var(--base-color);
    border-radius: 16px;
    font-weight: 600;
    font-family: myFont;
}
.header-languages{
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 16px;
    padding: 20px;
    animation: moveRotateLanguagesImage 10s infinite;
}

@keyframes moveRotateLanguagesImage {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(30px) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.header-languages img{
    margin-right: 3px;
}
.form-check-input{
    width: 28px;
    height: 18px;
}
.form-check-input:checked{
    background-color: var(--content-accent-purble) !important;
}
.my-header hr{
    color: white;
}
/* ---------------------End header styles------------------- */

/* ---------------------Magical circle styles------------------- */
/* ##### left side */
.magical-circle{
    margin-top: 90px;
}
.magical-circle h1,.surveying-spectrum-container-rigth h1,.integrate-with-container-top h1{
   font-family: myfont;
   font-weight: 900;
   font-size: 60px;
   line-height: 63px;
   color: var(--base-color);
}
.magical-circle h1 span,.surveying-spectrum-container-rigth h1 span,.integrate-with-container-top h1 span{
    color: var(--content-accent-purble);
}
.magical-circle p,.surveying-spectrum-container-rigth p{
   margin: 30px 0 0 5px;
   color: var(--paragraph-color-grayish);
   font-size: 18.5px;
}
.magical-circle button,.surveying-spectrum-container button{
    background-color: var(--content-accent-purble);
    color: white;
    border-radius: 11px;
    font-weight: 600;
    padding: 14px 60px 14px 60px;
    margin-top: 30px;
}
.magical-circle button:hover,.surveying-spectrum-container button:hover{
    background-color: transparent;
    border: 1px solid var(--base-color);
}
/* ##### rigth side */
.magical-circle-rigth{
    height: 420px;
    border-radius: 15px;
    background-image: url(../assets/images/nbackground.png);
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 100px;
    position: relative;
    cursor: pointer;
}
.rating-scale{
    height: 150px;
    width: 160px;
    position: absolute;
    left: -70px;
    top: 30px;
}
.magical-circle-rigth-content{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 473px;
    margin-left: -9px;
}
.magical-circle-icons{
    transition: 1s;
}
.magical-circle-icons .net-score{
    height: 130px;
    width: 170px;
    position: absolute;
    top: 160px;
    left: 30px;
}
.magical-circle-icons .text-answer{
    height: 130px;
    width: 160px;
    position: absolute;
    top:280px;
}
.magical-circle-img{
    height: 90%;
    width: 57%;
    position: absolute;
    top: 4%;
    right: 0;
    border-radius: 15px;
    transition: 1s;
}
.magical-circle-icons-left{
    transition: 1s;
    transform: translate(-200px);
}
.magical-circle-img-rigth{
    transition: 1s;
    transform: translate(400px) rotate(120deg);
}
/* --------------------- End Magical circle styles------------------- */

/* --------------------- Key Features section styles------------------- */
.key-features{
    background: var(--base-color) url(../assets/images/Vectornkey.png) no-repeat bottom right;
    background-size: 600px;
    color: white;
}
.key-features-items div{
    border-radius: 15px;
    padding:0 10px 20px 10px;
    background-color:rgba(145, 145, 145, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.key-features-items div h5{
    margin-left: 20px;
}
.key-features-items div img{
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
}
.key-features-items .color-img{
    border-radius: 15px;
    width: 110%;
    height: 160px;
    margin:0 0 0 -10px;
}
/* --------------------- End Key Features section styles------------------- */

/* --------------------- Quetion progress-bar section styles------------------- */
/* ###########left side */
.quetion-progress-bar-container{
   margin-top: 80px;
   margin-bottom: 80px;
}
.quetion-progress-bar-container h1{
    color: var(--base-color);
    font-family: myFont;
    font-size: 60px;
    line-height: 58px;
}
@media (max-width:500px) {
    .quetion-progress-bar-container h1{
        font-size: 50px;
    }
}
.quetion-progress-bar-left img{
    width: 37%;
}
.quetion-progress-bar-left h4,.quetion-horizontal-chart-rigth h4,.pie-chart-left h4,.vertical-bars-chart-rigth h4{
    font-weight: 700;
    color: var(--base-color);
}
/* ###########rigth side */
.progress-bar-container{
    background-color: var( --charts-background);
    border-radius: 20px;
    padding: 40px 0 10px 0;
    height: 130px;
}
.progress-bar-colors{
    width: 92%;
    height: 46px;
    margin: 0 auto;
    background-color: #D9D9D9;
    cursor: pointer;
}
.progress-bar-colors .progress-bar-red{
    background-color:#C80A50;
    width: 0%;
}
.progress-bar-red-animation{
    animation:progress-bar-red-animation 2s forwards;
}
@keyframes progress-bar-red-animation {
    to{
        width: 20%;
    }
}
.progress-bar-colors .progress-bar-yellow{
    background-color: #ECBE5E;
    width: 0%;
}
.progress-bar-yellow-animation{
    animation:progress-bar-yellow-animation 2s forwards;
}
@keyframes progress-bar-yellow-animation {
    to{
        width: 30%;
    }
}
.progress-bar-colors .progress-bar-green{
    background-color: #35945A;
    width: 5%;
}
.progress-bar-green-animation{
    animation:progress-bar-green-animation 2s forwards ease ;
}
@keyframes progress-bar-green-animation {
    to{
        width: 50%;
    }
}
.progress-bar-emoji{
    opacity: 0;
}
.progress-bar-emoji img{
    width: 11%;
}
.progress-bar-emoji img:nth-child(2){
    margin-left: -70px;
}
.progress-bar-emoji-animation{
    animation: emojiprogress 3s forwards;
}
@keyframes emojiprogress {
    from{
        opacity: 0;
        margin-top: 60px;
    }
    to{
        opacity: 1;
        margin-top: -28px;
    }
}
/* ---------------------  End Quetion progress-bar section styles------------------- */

/* ---------------------  Quetion horizontal-chart section styles------------------- */
.quetion-horizontal-chart-rigth img{
    width: 30%;
}
.quetion-horizontal-chart-left{
    background-color: var( --charts-background);
    color: var(--base-color);
    font-weight: 500;
    border-radius: 15px;
    padding: 20px 25px;
    cursor: pointer;
}
.quetion-horizontal-chart-left .progress-bar{
    background-color: var(--content-accent-purble);
}
.quetion-horizontal-chart-left .progress img{
    position: absolute;
    top: -10px;
    left: 18%;
    width: 4rem;
    height: 42px;
    opacity: 0;
}
/* ###########left side animation */
.quetion-horizontal-chart-stars{
    animation:progressBarsHorizintalStars 1s forwards;
}
@keyframes progressBarsHorizintalStars {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        left: 48%;
    }
}
.progress-bar-horizontal-one{
    animation: progressBarHAnimationOne 1s forwards;
}
@keyframes progressBarHAnimationOne {
    from{
        width: 0;
    }
    to{
        width: 20%;
    }
}
.progress-bar-horizontal-two{
    animation: progressBarHAnimationTwo 1s forwards;
}
@keyframes progressBarHAnimationTwo {
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}
.progress-bar-horizontal-three{
    animation: progressBarHAnimationThree 1s forwards;
}
@keyframes progressBarHAnimationThree {
    from{
        width: 0;
    }
    to{
        width: 40%;
    }
}
.progress-bar-horizontal-four{
    animation: progressBarHAnimationFour 1s forwards;
}
@keyframes progressBarHAnimationFour {
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}
.progress-bar-horizontal-five{
    animation: progressBarHAnimationFive 1s forwards;
}
@keyframes progressBarHAnimationFive {
    from{
        width: 0;
    }
    to{
        width: 30%;
    }
}
/* ---------------------  End horizontal-chart section styles------------------- */

/* ---------------------  Pie chart section styles------------------- */
.pie-chart-container{
    margin-top: 80px;
}
.pie-chart-rigth{
    background-color: var(--charts-background);
    border-radius: 20px;
    padding: 25px 0px 20px;
}
.pie-chart-circle{
    width: 30vh;
    height: 30vh;
    margin:0 auto;
    background-color: var(--base-color);
    border-radius: 50%;
    background: repeating-conic-gradient(
        from -70deg,
        var(--content-accent-purble) 0deg 200deg,
        var(--content-accent-ligthblue) 200deg 350deg
    );
    opacity: 0.5;
    cursor: pointer;
}
@media  (max-width:592px) {
    .pie-chart-circle{
        width: 26vh;
        height: 26vh;
    }
}
.pie-chart-circle-animation{
    animation: pieChartAnimation 2s forwards;
}
@keyframes pieChartAnimation {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
        transform: scale(1.1);
        border: 1px solid var(--content-accent-purble);
    }
}
.pie-chart-container .answer-circle-one,.pie-chart-container .answer-circle-two{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-top: 4px;
}
.answer-circle-one{
    background-color: var(--content-accent-purble);
}
.answer-circle-two{
    background-color: var(--content-accent-ligthblue);
}
.pie-chart-numbers p{
    color:#9291A5;
}
.pie-chart-numbers span{
    color: #1E1B39;
    font-weight: 500;
}
.pie-chart-circle img{
    opacity: 0;
}
.pie-avatar-one{
    width: 18%;
    position: absolute;
    top:10px;
    left: 25%;
}
.pie-avatar-two{
    width: 24%;
    position: absolute;
    right:-5%;
    top: 10px;
}
.pie-avatar-three{
    width: 20%;
    position: absolute;
    left:-10%;
    top: 10px;
}
.pie-avatar-four{
    width: 15%;
    position: absolute;
    right:20%;
    top: 20px;
}
.pie-avatar-five{
    width: 20%;
    position: absolute;
    left:28%;
    top: 55px;
}
.pie-avatars-animation{
    animation:pieAvatarsAnimation 2s forwards ;
}
@keyframes pieAvatarsAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(10px);
    }
}
/* ---------------------  End Pie chart section styles------------------- */

/* ---------------------  vertical Bars chart section styles------------------- */
.vertical-bars-chart-container{
    margin-top: 75px;
}
.vertical-bars-chart-left{
    background-color: var(--charts-background);
    border-radius: 15px;
    padding: 10px 30px;
}
.much-more{
     width: 60%;
     margin: 80px 20%;
}
@media (max-width:690px) {
    .much-more{
        width: 80%;
        margin: 80px 14%;
   }
}
/* ---------------------  End vertical Bars chart section styles------------------- */

/* ---------------------  Question Languages Slider section styles------------------- */
.question-languages-slider{
    background: rgb(97,0,221);
    background: linear-gradient(220deg, var(--background-secondary-gradient) 0%,
    var(--background-primary-gradient) 90%);
    height: 650px;
    overflow: hidden;
}
/* @media (min-width:1100px) {
    .question-languages-slider{
        overflow: hidden;
    }
} */
.question-languages-slider-left,.question-languages-slider-rigth{
    height: 650px;
    padding: 10% 0 30% 7%;
    color:white;
}
.question-languages-slider-left h1{
    font-family: myFont;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 40px;
}
.question-languages-slider-arrows{
    margin: 40px 0 0 1%;
}
.question-languages-slider-arrows div{
    width:56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.question-languages-slider-opacity{
    opacity: .5;
}
.question-languages-slider-arrows img{
   position: relative;
   top: 49%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.question-languages-slider-rigth{
    background: url(../assets/images/Vector.png) no-repeat left center;
    position: relative;
    background-size: 90%;
}
.question-languages-slider-rigth .question-languages-slider-imgone{
    position: absolute;
    width: 70%;
    right: 0;
    top: 13.5%;
    transition: 3s;
}
.question-languages-imgone-rigth{
    animation: questionLanguageAnimationOneRigth 2s forwards;
}

@keyframes questionLanguageAnimationOneRigth {
    to{
        right: -80%;
    }
}
.question-languages-slider-rigth .question-languages-slider-imgtwo{
    position: absolute;
    width: 50%;
    top: 7%;
    left:100%;
    transition: 3s;
}
.question-languages-imgtwo-left{
    animation: questionLanguageAnimationTwoLeft 2s forwards;
}

@keyframes questionLanguageAnimationTwoLeft {
    to{
        left: 34%;
    }
}
/* ---------------------  End Question Languages Slider section styles------------------- */

/* ---------------------  End Question Languages Slider section styles------------------- */
.surveying-spectrum-container{
    height: 635px;
    background-color: #F3EBFE;
}
.surveying-spectrum-container-rigth,.surveying-spectrum-container-left{
    height: 635px;
}
@media (max-width:1030px) {
    .surveying-spectrum-container-rigth h1{
        font-size: 50px;
    }
}
.surveying-spectrum-container-left img{
    width: 112%;
    height: 100%;
    margin-left:-3%;
}
.surveying-spectrum-container-rigth{
    padding: 7% 6% 0 0;
}
.surveying-spectrum-small-imgages{
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 40%;
}
@media (max-width:1134px) {
    .surveying-spectrum-small-imgages{
        display: none;
    }
}
.surveying-spectrum-small-imgages img:nth-child(1){
    width: 75%;
    margin: 5% 0 0 -30%;
}
.surveying-spectrum-small-imgages img:nth-child(2){
    width: 85%;
    margin-left: 10%;
}
.surveying-spectrum-small-imgages img:nth-child(3){
    width: 74%;
    height: 145px;
}
/* ---------------------  End Question Languages Slider section styles------------------- */

/* ---------------------  Integrate With section styles------------------- */
.integrate-with-container-top p{
    color: var(--paragraph-color-grayish);
    margin-top: 15px;
    font-size: 18.5px;
}


/* ---------------------  End Integrate With section styles------------------- */
